	* {
	margin-left: 1px;
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Product Sans Medium,Google Sans Medium, San Francisco Text,Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.0);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}transition

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
	
#workspaces button {
	margin: 10 0 10 10;
	font-size: 16px;
	/* padding-left: 3px; */
	/* padding-right: 3px; */
	/* padding-top: 3px; */
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
    background-color: #4b5162;
    color: #ffffff;
    border: 1px solid #404552;
}

#window {
	margin-left: 10px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
   /*  border-bottom: 3px solid #ffffff; */
}

#workspaces button.focused {
    background-color: #5294e2;
    border: 1px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-weather
#disk
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#clock {
	border: 10px solid transparent;
    background-color: #383c4a;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;
}

#battery {
	border: 10px solid transparent;
    background-color: #CDCDCD;
    color: #000000;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;    
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
	border: 10px solid transparent;
    background-color: #383c4a;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;
    /*color: #000000;*/
}

#memory {
	border: 10px solid transparent;
    background-color: #404552;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;
}

#backlight {
	border: 10px solid transparent;
    background-color: #CDCDCD;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;
}

#network {
	border: 10px solid transparent;
    background-color: #404552;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
	border: 10px solid transparent;
   	/* color: black; */
    background-color: #4b5162;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;
}

#pulseaudio.muted {
    background-color: #b1b190;
    color: #2a5c45;
}

#custom-media {
	border: 3px solid transparent;
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
    border-radius: 10px;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-weather {
	border: 10px solid transparent;
	/* color: black; */
    background-color: #4b5162;
    padding: 0 7px 0 7px;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;
}

#temperature {
	border: 10px solid transparent;
	color: black;
    background-color: #CDCDCD;
    /*color: #000000;*/
    padding: 0 7px 0 7px;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
	border: 10px solid transparent;
    background-color: #5294e2;
    border-radius: 15px;
    margin-left: -5px;
}

#idle_inhibitor {
	border: 10px solid transparent;
    background-color: #7c818c;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;
}

#idle_inhibitor.activated {
    background-color: #cdcdcd;
    color: #2d3436;
}

#mpd {
	border: 10px solid transparent;
    background-color: #66cc99;
    color: #2a5c45;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;
}

#disk {
	border: 10px solid transparent;
	padding: 0 7px 0 7px;
    background-color: #7c818c;
    border-radius: 15px;
    margin: 0 -5px 0 -5px;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
