	* {
    border: none;
    border-radius: 0;
    margin-top: 2px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: San Francisco Text,Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.0);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}transition

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
	
#workspaces button {
	margin-left: 5px;
	margin-top: 0;
	/* padding-left: 3px; */
	/* padding-right: 3px; */
	/* padding-top: 3px; */
	padding: 3px;
	border-radius: 5px;
    background-color: #B1B8BE;
    color: #ffffff;
    /* border-bottom: 3px solid transparent; */
}

#window {
	margin-left: 10px;
	padding-bottom: 2px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    border: 1px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#clock {
    background-color: #64727D;
    border-radius: 10px;
}

#battery {
    background-color: #CDCDCD;
    color: #000000;
    border-radius: 10px;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #90b1b1;
    border-radius: 10px;
    /*color: #000000;*/
}

#memory {
    background-color: #404552;
    border-radius: 10px;
}

#backlight {
    background-color: #90b1a1;
    border-radius: 10px;
}

#network {
    background-color: #4b5162;
    border-radius: 10px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #7c818c;
    /*color: #000000;*/
    border-radius: 10px;
}

#pulseaudio.muted {
    background-color: #b1b190;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #b1b190;
	border-radius: 10px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #6b8697;
    border-radius: 10px;
}

#idle_inhibitor {
    background-color: #2d3436;
    border-radius: 10px;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
    border-radius: 10px;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
